* {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:root {
  --brand-color: #4762ff;
  --heading-color: #333333;
  --text-color: #333333cc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
